<div>
<mat-card>
<h4>Select your VM:</h4>

<mat-form-field>
  <mat-select [(value)]="selected">
    <mat-option>None</mat-option>
    <mat-option value="Basic Virtual Server Instance">Basic Virtual Server Instance</mat-option>
    <mat-option value="Large Virtual Server Instance">Large Virtual Server Instance</mat-option>
    <mat-option value="Ultra-Large Virtual Server Instance">Ultra-Large Virtual Server Instance</mat-option>
  </mat-select>
</mat-form-field>
<p>You selected: {{selected}}</p>
<button mat-raised-button (click)="addVM(selected)" color="primary"> Create VM</button>
</mat-card>



 </div>
 
 <div>
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
   <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
       <button mat-icon-button color="warn" (click)="deleteVM(element)">Delete</button>
    </td>
  </ng-container>

   Name Column 
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.vm_name}} </td>
  </ng-container>

   Cores Column 
  <ng-container matColumnDef="cores">
    <th mat-header-cell *matHeaderCellDef> Cores </th>
    <td mat-cell *matCellDef="let element"> {{element.vm_cores}} </td>
  </ng-container>

   Ram Column 
  <ng-container matColumnDef="ram">
    <th mat-header-cell *matHeaderCellDef> Ram </th>
    <td mat-cell *matCellDef="let element"> {{element.vm_RAM}} </td>
  </ng-container>

   Storage Column 
  <ng-container matColumnDef="storage">
    <th mat-header-cell *matHeaderCellDef> Storage </th>
    <td mat-cell *matCellDef="let element"> {{element.vm_Storage}} </td>
  </ng-container>
  
   Price Column 
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.vm_Price}} </td>
  </ng-container>
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef> Acc. Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.vm_Cost}} </td>
  </ng-container>
  
  <ng-container matColumnDef="play">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="startVM(element)">Start</button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="stop">
    <th mat-header-cell *matHeaderCellDef> Stop </th>
    <td mat-cell *matCellDef="let element">
       <button mat-icon-button (click)="stopVM(element)">Stop</button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.vm_Status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
Total Costs: {{totalCost}}
</div>
 