
<div>
  <p>VM Start</p><button mat-button>Start</button>
  <p>VM Stop</p><button mat-button>Stop</button>
  
</div>


<h4>Basic native select</h4>
<mat-form-field>
  <select matNativeControl required>
    <option value="Basic Virtual Server Instance">Basic Virtual Server Instance</option>
    <option value="Large Virtual Server Instance">Large Virtual Server Instance</option>
    <option value="Ultra-Large Virtual Server Instance">Ultra-Large Virtual Server Instance</option>
  
  </select>
</mat-form-field>